<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"      
      android:versionCode="1"
      android:versionName="1.0">
  <uses-sdk android:minSdkVersion="9" />
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <application android:label="@string/app_name"
               android:icon="@drawable/app_icon">
    
    <meta-data android:name="YozioAppKey" android:value="0e0d3416-5f42-4399-bc99-b1f785cc4a2f" />
	<meta-data android:name="YozioSecretKey" android:value="0e0d3416-5f42-4399-bc99-b1f785cc4a2f" />
	<meta-data android:name="YozioNewInstallMetaDataCallback" android:value="com.milkygames.yozioandroidwrapper.YozioAndroidWrapperCallback" />
	
	<receiver android:name="com.company.android.MasterInstallReferrerReceiver" android:exported="true">
	<intent-filter>
		<action android:name="com.android.vending.INSTALL_REFERRER" />
	</intent-filter>
	</receiver>
    <activity android:name="com.unity3d.player.UnityPlayerActivity"
              android:configChanges="keyboardHidden|orientation"
              android:label="@string/app_name">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
